body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scroll while loading */
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); /* Black overlay with 75% opacity */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure loader is above all other content */
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    color: #dc1818;
    background:
        radial-gradient(circle at 60% 65%, currentColor 62%, #0000 65%) top left,
        radial-gradient(circle at 40% 65%, currentColor 62%, #0000 65%) top right,
        linear-gradient(to bottom left, currentColor 42%, #0000 43%) bottom left,
        linear-gradient(to bottom right, currentColor 42%, #0000 43%) bottom right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
}

.loader:after {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    opacity: 0.4;
    animation: l3 1s infinite;
}

@keyframes l3 {
    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

#content img {
    max-width: 160%; /* Increase from 80% to 160% */
    height: auto;
    max-height: 160vh; /* Increase from 80vh to 160vh */
}
