body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #269144;
    background-image: url('images/background.png'), linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hidden {
    display: none;
}

#loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    color: #5efc58;
    background:
        radial-gradient(circle at 60% 65%, currentColor 62%, #0000 65%) top left,
        radial-gradient(circle at 40% 65%, currentColor 62%, #0000 65%) top right,
        linear-gradient(to bottom left, currentColor 42%, #0000 43%) bottom left,
        linear-gradient(to bottom right, currentColor 42%, #0000 43%) bottom right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
}

.loader:after {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    opacity: 0.4;
    animation: l3 1s infinite;
}

@keyframes l3 {
    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

#orphic-image {
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-top: 10vh;
}

#buka-aku {
    display: block;
    margin: 30px auto;
    cursor: pointer;
}

#stage3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    backdrop-filter: blur(10px);
}

#love-letter {
    max-width: 80%;
    margin-bottom: 20px;
}

#prev,
#next {
    width: 50px;
    cursor: pointer;
}

#prev {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

#next {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    cursor: pointer;
}

/* Falling Images */
#falling-images {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.falling-image {
    position: absolute;
    animation: fall 10s linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}
